<html>
<head>
  <title>Buzzword+ - Count the buzzwords and don't fall asleep at conferences!</title>
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <div ng-app="buzz" ng-controller="buzzwordController">
    <h1>buzzword <span class="highlight button">+</span></h1>
    <!-- <h2>no talk will be boring again</h2> -->

    <form ng-submit="add(newBuzzword)" class="new-buzzword-form">
      <input type="text" ng-model="newBuzzword" class="new-buzzword-field"/>
    </form>

    <div masonry class="buzzwords" column-width="20">
      <div class="buzzword masonry-brick" ng-repeat="buzzword in buzzwords | orderBy : 'count' : true">
        <span class="buzzword-name" ng-dblclick="edit(buzzword)" ng-if="!buzzword.editing">{{buzzword.name}}</span>
        <form ng-submit="update(buzzword)" class="buzzword-name-edit" ng-if="buzzword.editing">
          <input type="text" ng-model="buzzword.name" class="buzzword-name-edit-field" ng-blur="update(buzzword)" />
        </form>
        <a href="#" class="minus button" ng-click="reduce(buzzword)" ng-if="buzzword.editing">-</a>
        <a href="#" class="plus button" ng-click="increment(buzzword)">+</a>
        <span class="counter">{{buzzword.count}}</span>
        <a href="#" class="ok button" ng-click="update(buzzword)" ng-if="buzzword.editing">ok</a>
      </div>
    </div>

  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
  <script src="bower_components/get-style-property/get-style-property.js"></script>
  <script src="bower_components/get-size/get-size.js"></script>
  <script src="bower_components/eventEmitter/EventEmitter.js"></script>
  <script src="bower_components/eventie/eventie.js"></script>
  <script src="bower_components/doc-ready/doc-ready.js"></script>
  <script src="bower_components/matches-selector/matches-selector.js"></script>
  <script src="bower_components/outlayer/item.js"></script>
  <script src="bower_components/outlayer/outlayer.js"></script>
  <script src="bower_components/masonry/masonry.js"></script>
  <script src="bower_components/imagesloaded/imagesloaded.js"></script>
  <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-masonry/angular-masonry.js"></script>

  <script type="text/javascript" src="app.js"></script>
</body>
</html>
